[Unit]
Description=A RSS subscribe bot for telegram
After=network.target

[Service]
Type=simple
Restart=on-abort
ExecStart=/usr/bin/flowerss-bot -d %h/.config/flowerss-bot

[Install]
WantedBy=default.target
